extends layout

block content
    nav(class='navbar navbar-expand navbar-light bg-dynamic-1 justify-content-between')
        a(class='navbar-brand zilwatch-navbar-brand' href='/')
            img(src='/images/zilWatch-02.svg' width='30' height='30' class='d-inline-block align-top mr-2' alt='zilWatch')
            = 'zilWatch'

        button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
            span(class='navbar-toggler-icon')
        div(class='collapse navbar-collapse' id='navbarNavDropdown')
            ul(class='navbar-nav')
                li(class='nav-item')
                    a(class='nav-link' href='/')='Dashboard'
                li(class='nav-item')
                    a(class='nav-link' href='/nft-explorer')='NFT Explorer'

        button(id='toggle_theme_btn' class='btn btn-info my-2 my-sm-0 mr-2')
            i(id='toggle_theme_icon' class='fa fa-sun-o')

    div(class='container')
        hr
        a(href='/')='← Back to dashboard'
        hr

        block static_info_content

        hr
        a(href='/')='← Back to dashboard'
        hr

block script
    script(src='/javascripts/main.theme.min.js')
